* {
    background-color: #101010;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    /* border: red solid 1px; */
}

body {
    display: flex;
    flex-direction: column;
    font-size: 20px;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

header{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 100;
    padding: 5px 5%;
    color: ivory;
}

main {
    display: flex;
    flex-direction: inherit;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}

.hero {
    font-size: 30px;
    font-weight: 600;
    color: gray;
}

.content {
    display: flex;
    flex-direction: inherit;
    justify-content: center;
    align-items: center;
    min-height: fit-content;
    width: 100%;
    gap: 20px;
}

span {
    font-style: italic;
    font-family: cursive;
    color: lightgoldenrodyellow;
}

textarea {
    height: 100px;
    width: 80%;
    border: ivory solid 2px;
    text-wrap: wrap;
    white-space: normal;
    font-size: 20px;
    color: ivory;
    text-align: center;
}

textarea:focus {
    outline: none;
}

.buttons {
    height: 50px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    
}

button {
    height: 30px;
    width: fit-content;
    font-size: 15px;
    border: ivory solid 1px ;
    border-radius: 15px;
    color: ivory;
}

#results {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    gap: 5px;
}

.reverse, .mirror, .reflect {
    display: flex;
    flex-direction: column;
    justify-content: center;    
    align-items: center;
    width: 30%;
    text-align: center;
    gap: 10px;
}

#reverseOutput,#mirrorOutput.output {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    height: 200px;
    width: 100%;
    gap: 5px;
    font-style: italic;
    color: ivory;
    text-align: center;
    border: gray dotted 0.75px;
}

#reflectOutput.output {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    height: 200px;
    width: 100%;
    gap: 5px;
    font-style: italic;
    color: ivory;
    text-align: center;
    transform: scaleX(-1); /* Flip horizontally */
    border: gray dotted 0.75px;
}

footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: fixed;
    bottom: 0;
    left:0;
    right: 0; 
    z-index: 100;
    width: 100%;
    font-size: small;
    padding-bottom: 10px;
    color: ivory;
}

a {
    text-decoration: none;
    color: inherit;
}

 @media only screen and (max-width: 600px) {
    * {
        background-color: #101010;
        color: ivory;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
    }
    
    body {
        font-size: 20px;
        text-align: center;
        margin: 0; 
        padding: 0; 
    }
    
    header {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        z-index: 100;
        padding: 5px;
    }
    
    main {
        padding: 20px;
    }
    
    .hero {
        font-size: larger;
        font-weight: 600;
    }
    
    textarea {
        height: 60px;
        width: 100%;
        border: ivory dotted 1px;
        font-size: 15px;
        color: lightgray;
        text-align: center;
        resize: none; 
    }
    
    textarea:focus {
        outline: none;
        border: ivory dotted 1px;
    }
    
    .buttons {
        display: flex;
        flex-direction: column; 
        gap: 15px;
    }
    
    button {
        height: 30px;
        font-size: inherit;
        border: ivory solid 1px;
        border-radius: 15px;
        width: 100%; 
    }
    
    #output {
        height: 100px;
        font-style: italic;
        color: ivory;
        text-align: center;
    }
    
    footer {
        position: fixed;
        bottom: 0;
        left: 0;
        right: 0;
        z-index: 100;
        font-size: small;
        padding: 10px;
    }
}